@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
}

@layer components {
  .handwritten {
    font-family: Georgia, serif;
  }
}
